# Ignore virtual env
venv/

# Ignore Python clutter
__pycache__/
*.py[cod]
github/
chatgpt/
portable_git/
secret/
scripts/garbage
config/config.yaml

# Ignore editor/project files
.vscode/
.idea/

# Ignore data junk
*.log
.DS_Store
.env
