# Ignore Python clutter
__pycache__/
*.py[cod]
secret/
scripts/garbage
docs/
secrets/
config/config.yaml
replacements.txt
zip.sh
project.zip

# ignore all real files in Data/table
Data/table/*
Data/gpkg/*

# but don’t ignore the directory or our placeholder
!Data/table/
!Data/gpkg/
!Data/table/table.md
!Data/gpkg/gpkg.md

# Ignore data junk
*.log