pandas
geopandas        # pure-Python wheel
requests
shapely          # binary wheel available
pyproj           # binary wheel available
jupyterlab
matplotlib
sqlalchemy
black
flake8
isort
pytest
PyYAML
fiona
requests
zipfile
tempfile
shutil
pathlib
BytesIO